<div class="item-content">
    <header>
        {% if item.title %}
            <span class="subject">{{ item.title }}</span>
        {% endif %}

        <span class="author">
            {{ item.author }}
        </span>

        <span class="time">{{ item.etd_timestamp }}</span>

        <span class="item-number">
            No. {{ item.id }}
        </span>
    </header>

    {% if item.filename and item.filename != '' %}
        <div class="item-image">
            <div class="file-info">
                File: {{ item.filename }}{{ item.ext }}
                {% if item.fsize %}({{ item.fsize }}, {{ item.w }}x{{ item.h }}){% endif %}
            </div>
            {% set image_url = item.tim | chan_image(item.ext, item.board) %}
            <a href="{{ image_url }}" target="_blank">
                <img src="{{ image_url }}" alt="{{ item.id }}" loading="lazy">
            </a>
        </div>
    {% endif %}

    <blockquote class="item-content">
        {{ item.body | safe }}
    </blockquote>
</div>